[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = ">=2023.7.22"
api-client = {git = "https://github.com/Phonebooth/api-client"}

[dev-packages]
certifi = ">=2023.7.22"

[requires]
python_version = "3.9"
